/* General */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.col-3 {
    max-width: 100%;
}

.black-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 33px;
}

.white-title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 33px;
}

/* Header */
.header {
    background-image: url("../images/header/background.jpg");
    background-size: cover;
    background-position: center;
    height: 960px;
}

.straight-border {
    border-radius: 0;
}

.header-logo {
    margin-top: 235px;
}

/* Main title */
.header-title h1 {
    font-size: 55px;
    color: #ffffff;
    text-transform: uppercase;
}

.top-title {
    margin-top: 48px;
}

.bottom-title {
    margin-top: 32px;
}

/* Subtitle */
.header-title h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.scroll-button {
    margin-top: 210px;
}

/* About us */
.about-us {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-us p {
    line-height: 2.2;
}

/* Services */
.services {
    height: 340px;
    padding-top: 90px;
    padding-bottom: 85px;
    text-align: center;
    background-image: url("../images/services/background.jpg");
    background-position: center;
    background-size: cover;
}

.services p {
    color: #ffffff;
}

/* What we do */
.what-we-do {
    padding-top: 45px;
    margin-bottom: 60px;
}

.what-we-do-title {
    margin-bottom: 40px;
}

.what-we-do .groups {
    width: 100%;
}

.what-we-do .group {
    width: 400px;
}

.what-we-do p {
    font-size: 19px;
    text-transform: uppercase;
}

/* What we do preview */
.preview {
    text-align: center;
    margin-bottom: 0;
}

.preview-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

#preview-text {
    font-size: 16px;
    text-transform: none;
    padding: 0 4px;
}

/* Portfolio */
.portfolio {
    margin-top: 65px;   
    margin-bottom: 50px;
    padding: 0 90px;
}

.portfolio h1 {
    margin-bottom: 20px;
}

.image-text {
    width: 300px;
    height: 300px;
}

.image-text p {
    position: relative;
    top: -195px;
    left: 32px;
    right: 98px;
    height: 172px;
    width: 232px;
    border: 4px solid #ffffff;
    color: #ffffff;
    font-size: 32px;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 37px;
    line-height: 1.1;
    font-weight: bold;
    display: none;
}

.top-row {
    margin-bottom: -30px;
}

.darken-image {
    filter: brightness(0.3);
}